body{
    margin:0px;
}
.nav-wrapper{
    display:flex;
    justify-content: space-between;
    padding:25px;
     background-color: rgba(0, 0, 0, 0.87);
     font-family: 'Work Sans', sans-serif;
     font-weight:bold;
}
.right-side{
    display:flex;
}
.nav-wrapper > .centre > div{
    position: absolute;
    left:45%;
    font-size: 1.3em;
    color:white;
    transform:scaleY(1.2);
}
.nav-wrapper > .right-side > .link-wrapped{
    margin-left: 20px;
    font-size: 1.2em;
}
.link-wrapped{
    height:20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.link-wrapped a{
    text-decoration:none;
    color:white;
    transition: color 0.5s;
}
 .another-link a{
    color: tomato;
}
.link-wrapped:hover{
    border-bottom: 1px solid white;
}
.link-wrapped a:hover{
    color:rgba(14, 220, 235,0.7);
}
.container{
    text-align: center;
    padding-top:80px;
    padding-bottom:150px;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(pool.jpg);
    background-size: cover;
    background-position:center;
    color:white;
    font-weight: bold;
}
.button{
    background-color:rgba(27, 142, 171,1);
    color:white;
    padding: 10px 60px;
    font-family: "Papyrus", "Courier New", monospace;
    font-size: 1.3em;
    font-weight: bold;
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.heading{
    font-size:2.0em;
    font-family: "Lucida  Handwriting", "Courier New", monospace;
    padding-bottom: 40px;
}
.line {
    width: 80px;
    height: 4px;
    margin:8px auto 0;
    display: block;
    background-color:rgba(27, 142, 171,1);
}
.second{
    margin-top:35px;
    margin-bottom: 25px;
    font-size:1.3em;
    font-family: "Arial ", "Courier New", monospace;
    text-decoration: none;
}
#small{
    font-size:1.1em;
}
.text-wrapper{
    display:flex;
    justify-content: space-between;
    font-family: "Rubik", sans-serif;
    background-color: #fff5f8;
    padding-top:100px;
    padding-bottom:200px;
    padding-left:60px;
    padding-right:60px;
    font-size: 1.2em;
}
.H{
    padding-bottom:20px;
    text-align: center;
    font-size:0.7em;
    font-weight: bolder;
}
.H2{
    padding-bottom:20px;
    text-align: center;
}
.P{
    line-height: 1.5em;
}
h4{
    font-size:2.0em;
    font-family: "Rubik", sans-serif;
}
.content-wrapper{
    padding:20px;
}
.wrap{
    display:grid;
    grid-template-columns: 1fr;
    position: fixed;
    top: 0;
    width:100%;
    z-index:100;  
}
.images-wrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
.image-wrapper{
    position:relative;
}
.img-backgound{
    height:50vh;
    width:100%;
    background-size: cover;
    background-position: center;
    filter:brightness(50%);
}
.image-wrapper:hover .img-backgound{
    transition:0.1s;
   filter:brightness(80%);
}
.wrapping{
    padding:20px;
}
.image-wrapper:hover .wrapping{
border: 4px solid white;
transition: 0.1s ease;
}
.img-text-wrapper{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:bold;
    color:white;
    position: absolute;
    top:45%;
    left:32%;
    height:100%;
}
#head{
    text-align: center;
    font-size: 2.0em;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top:80px;
}
.Box{
    display:flex;
    justify-content: space-between;
    padding:0px 50px;
}
.H1{
    padding-bottom:20px;
    text-align: center;
    font-size: 1.3em;
    color:rgba(27, 142, 171,1);
    padding-top:100px;
}
.P1{
    line-height: 1.5em;
    font-size:1.3em;
    font-family: 'Roboto Condensed', sans-serif;
    text-align:center;
}
.buttons{
    text-align: center;
}
.BOX{
    padding-top:40px;
    padding-bottom:40px;
    padding-right:40px;
    background-color: #fff5f8;
}
form{
    background:linear-gradient(to right,rgba(252, 247, 184,0.7),rgba(252, 247, 184));
    max-width: 500px;
    padding:80px 120px;
    margin:1.5rem;
}
.head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:1.2em;
    font-weight:bold;
}
input[type="text"]{
    width:75%;
}
.form-part{
    padding-bottom:20px;
    font-size:1.2em;
    text-align:unset;
}
.form-area{
    padding-bottom:20px;
}
input[type="submit"]{
    padding:10px 73px;
    color:white;
    background-color:black;
    font-family: 'Roboto Condensed', sans-serif;
}
.wrapped-content{
    display:flex;
}
.img{
    padding-top:40px;
    padding-bottom:40px;
}
img{
    max-width:100%;
    height:auto;
}
.head1{
    width:60%;
    font-size:1.5em;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing:border-box; 
    border: 5px solid black;
    text-align:center;
    position:absolute;
    left:20%;
}
.h{
    padding-top:150px;
    text-align:center;
}
.foot{
    display:flex;
}
.foots{
    background: #fff5f8;
    padding:70px 20px;
    position: relative;
}
.bt{
    padding: 15px 15px;
    font-family: Arial , Helvetica, sans-serif;
    background-color: lightcoral;
    font-weight:bold;
    font-size:1.3em;
}
.left-foot{
    line-height:3.0em;
    display:block;
    padding-right:200px;
}
.link a{
    text-decoration: none;
}
.link{
word-spacing:1px;
}
.foots a{
text-decoration: none;
}
.list{
    line-height: 2.0em;
    font-family:Arial , Helvetica, sans-serif;
    padding-right:120px;
}
.foots a{
    color:black;
}
.foots a:hover{
    text-decoration: underline;
}
.drop{
    width:100%;
    height:40px;
}
.Dropbox{
    line-height: 2.0em;
        font-family:Arial , Helvetica, sans-serif;
    position: absolute;
    top:70px;
    left:550px;
}
.drop1{
    padding-top:10px;
}
.small-text{
    padding-top: 20px 
}
.line1 {
    width: 32px;
    height: 2px;
    margin:8px left 0;
    display: block;
    background-color:rgba(27, 142, 171,1);
}
.logo{
    text-align: center;
    padding-bottom:60px;
}
.line2 {
    width: 20px;
    height: 4px;
    margin:-4px auto 0;
    display: block;
    background-color:white;
}
@media only screen and (max-width:950px){
    .images-wrapper{
        display:block;
    }
    .img-text-wrapper{
        left:40%;
    }
    .Box{
        display:block;
    }
    .img{
        display: none;
    }
    .form1{
        width:100%;
        padding-left:30%;
    }
    .h{
        padding-top:220px;
    }
    .resize{
        display:flex;
    }
    .Dropbox{
        left:20px;
        top:200px;
    }
    .small-text{
        padding-top:140px;
    }
    .text-wrapper{
        display:block;
    }
    .box1{
        text-align: center;
    }
    .box2{
        text-align: center;
    }
    .box3{
        text-align: center;
    }
    .container{
        background-image:100vw;
    }
}
@media only screen and (max-width:750px){
    .Dropbox{
        top:220px;
    }
    .nav-wrapper > .centre > div{
        position:absolute;
        left:38%;
    }
}


